<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
  <h1> NREL CRUD DB DEMO SITE </h1>
  <h2>Example of CREATE an elemnt in DB</h2>
  <form action="/input" method="POST">
    <input type="text" placeholder="input" name="input">
    <button type="submit">Submit</button>
  </form>
  <h2><h2>List of Current Elements in DB (which are fetched and rendered via READ from DB</h2></h2>
  <ul class="list">
      <% for(var i=0; i < listItems.length; i++) {%>
        <li class="list">
            <span><%= listItems[i].input %></span>
        </li>
    <% } %>
  </ul>
  <div>
    <h2>UPDATE an existing element in the DB</h2>
    <button id="update-button">Replace existing element in the DB</button>
  </div>
  <script src="/main.js"></script>
  <div>
    <h2>DELETE an existing element in the DB</h2>
    <button id="delete-button">Delete Darth Vadar's quote</button>
  </div>
</body>
</html>